html,
body {
  user-select: none;
  -webkit-user-select: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
  min-height: 100vh;
  font-family: sans-serif;
  color: #cacaca;
  background: white;
}
.ui {
  user-select: none;
  -webkit-user-select: none;
}
label {
  font-size: 1.2em;
}
input[type=text] {
  margin: 0;
  padding: 0;
  /* top | right | bottom | left */
  margin: .1em .2em 0 .2em;
  padding: 0 .2em 0 .2em;
  outline: none;
  border-width: 0 0 .1em 0;
  border-style: solid;
  background: transparent;
  border-color: #404040;
  color: #cacaca;
  font-size: inherit;
  font-family: inherit;
}
input[type=text]:focus {
  text-align: left;
}
.checkbox {
  background: #606060;
  border: 0.1em solid #404040;
  border-radius: .3em;
  width: 1em;
  min-width: 1em;
  height: 1em;
  min-height: 1em;
}
.svg-icon {
  width: 100%;
  height: 100%;
  fill: inherit;
}
.icon {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  fill: inherit;
  fill: #cacaca;
}
.icon.invert {
  filter: invert(100%);
}
.container {
  display: flex;
}
.spacer {
  pointer-events: none;
}
.divider {
  background: #404040;
}
.divider.horizontal {
  width: 100%;
  height: .1em;
  min-height: .1em;
  margin-top: .8em;
  margin-bottom: .8em;
}
.divider.vertical {
  width: .1em;
  min-width: .1em;
  height: 2.4em;
  margin-left: .8em;
  margin-right: .8em;
}
button {
  font-size: 1em;
  font-family: inherit;
  -webkit-appearance: none;
  border: .1em solid transparent;
  box-sizing: content-box;
  padding: .6em;
  margin: .1em;
  width: 2.4em;
  height: 2.4em;
  outline: none;
  background: transparent;
  border-radius: .3em;
  color: #cacaca;
}
button:hover {
  border: 0.1em solid #404040;
}
button:active {
  background: #272727;
  border: .1em solid transparent;
}
button.tool {
  padding-left: 1.2em;
  padding-right: 1.2em;
  width: 3.2em;
  height: 3.2em;
}
button.pressed {
  background: #404040;
}
button.text {
  border: 0.1em solid #404040;
}
.color-ramp {
  border: 1px solid #404040;
  margin: .1em;
}
.list {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}
#overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 200;
  visibility: hidden;
}
.color-wheel {
  align-items: center;
  justify-content: center;
}
.color-palette {
  position: relative;
  overflow: hidden;
}
.color-palette-marker {
  position: absolute;
  border-radius: 1em;
  top: 0;
  left: 0;
  border: 1px solid gray;
  box-sizing: border-box;
  background: white;
  pointer-events: none;
}
.color-palette-null {
  width: 3em;
  height: 3em;
  fill: #cacaca;
  box-sizing: border-box;
  padding: 1px;
}
.color-palette-item {
  width: 3em;
  height: 3em;
}
#main {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  min-height: 100vh;
  visibility: hidden;
}
#content {
  flex: auto;
}
.tray {
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: center;
  z-index: 50;
  overflow: hidden;
  background: #606060;
  box-shadow: 0.1em 0.2em 0.4em 0 rgba(0, 0, 0, 0.4);
  border-radius: .6em;
}
.tray:focus {
  background: red;
}
.tray-container {
  display: flex;
  flex-direction: column;
  padding: 1em;
}
.tray-title {
  padding: 8px;
  width: 100%;
  box-sizing: border-box;
  background-color: #404040;
}
.tray-tag {
  width: 1.6em;
  height: 1.6em;
  clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
  background: #606060;
}
.panel {
  border-radius: .4em;
  padding: .8em;
  box-sizing: border-box;
  transition: opacity 0.2s;
  z-index: 4;
  background: #606060;
}
#tools {
  display: flex;
  flex-direction: column;
  position: fixed;
  align-items: center;
  left: -0.8em;
  padding-left: 1.6em;
}
#tools-colors {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
#paper {
  position: absolute;
  box-sizing: border-box;
  overflow: hidden;
  left: 0;
  top: 0;
  z-index: 1;
}
#paper > canvas {
  pointer-events: none;
  background: #808080;
}
#frame-list {
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  bottom: 0;
  width: 100vw;
  z-index: 5;
  background: #606060;
}
#frame-list-container {
  display: flex;
  position: relative;
  flex-direction: row;
  padding-top: 0;
  padding-bottom: 0;
}
.frame-list-item {
  flex-direction: column;
  overflow: hidden;
  border-top: .8em solid transparent;
  transition: filter 0.5s;
}
.frame-list-item:hover {
  filter: brightness(96%);
}
.frame-list-item.selected {
  border-color: dodgerblue;
}
.frame-list-item.selected:hover {
  border-color: dodgerblue;
}
.frame-list-item-number {
  position: absolute;
  pointer-events: none;
  padding: .4em;
  color: #404040;
}
.frame-list-new {
  align-items: center;
  justify-content: center;
  margin-top: .8em;
  padding-left: 2.0em;
  padding-right: 2.0em;
  transition: background-color 0.2s;
  fill: #cacaca;
}
.frame-list-new:hover {
  background-color: #535353;
}
#frame-list-map {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: .8em;
  z-index: 5;
  background: #202020;
}
.frame-list-map-nodule {
  position: relative;
  height: 100%;
  top: 0;
  background: #606060;
}
#colors {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-right: 1.6em;
  right: -0.8em;
}
.color-swatch {
  width: 3.2em;
  height: 3.2em;
  padding: .7em;
  fill: #cacaca;
}
.color-swatch-layer {
  position: absolute;
  width: 3.2em;
  height: 3.2em;
  pointer-events: none;
}
#controls {
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-bottom: 1.6em;
  bottom: 0;
}
#settings {
  position: fixed;
  display: flex;
  flex-direction: row;
  top: -0.8em;
  padding-top: 1.6em;
  align-items: center;
  justify-content: center;
}
#modal {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  z-index: 99;
}
