
html, body {
  font-family: sans-serif;
  font-size: 8px;
  /* font-size: 9px; */
  padding: 0px;
  margin: 0px;
  overflow: hidden;
  user-select: none;
  -webkit-user-select: none;
  min-height: 100vh;
}

.dark {
  color: white;
  background: rgba(48, 48, 48, 1);
}

.light {
  color: gray;
  background: white;
}

#modal {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  /* background: rgba(255, 0, 0, 0.1); */
  visibility: hidden;
  /* filter: blur(5px); */
}

.ui {
  user-select: none;
  -webkit-user-select: none;
  /* cursor: default; */
}

.icon {
  display: flex;
  align-items: center;
  pointer-events: none;
  width: 100%;
  height: 100%;
  /* fill: #5a5a5a; */
  /* background: blue; */
  /* background: invert(100%); */
}

.dark .icon {
  fill: #c0c0c0;
  /* filter: invert(100%); */
  /* fill:clip; */
}

.light .icon {
  fill: #5a5a5a;
}

.icon.invert {
  /* fill: #f0f0f0; */
  filter: invert(100%);
}

.container {
  display: flex;
}

.checkbox {
  align-items: center;
}

.checkbox-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 1.6em;
  height: 1.6em;
  border: 1px solid gray;
  border-radius: 2px;
  box-sizing: border-box;
  background: lightgray;
}

.checkbox.selected {
  background: white;
}

.spacer {
  pointer-events: none;
}

.divider {
  margin: 8px;
}

.light .divider {
  background: rgba(0, 0, 0, 0.2);
}

.dark .divider {
  background: rgba(255, 255, 255, 0.2);
}

.divider.horizontal {
  width: 100%;
  height: 1px;
  min-height: 1px;
}

.divider.vertical {
  width: 1px;
  min-width: 1px;
  height: 3em;
}

.button {
  display: flex;
  flex-direction: row;
  border-radius: 3px;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0);
  padding: 4px 8px 4px 8px;
  margin: 1px;
}

.button:hover {
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.button:active {
  background: rgba(0, 0, 0, 0.4);
}

.button.down {
  background: rgba(0, 0, 0, 0.2);
}

.color-swatch {
  align-items: center;
  justify-content: center;
  width: 2.5em;
  height: 2.5em;
  margin: 1px;
  border: 1px solid #808080;
  border-radius: 2px;
  /* background-clip: padding-box; */
  /* box-sizing: border-box; */
  /* padding: 2px; */
  /* background: red; */
}

.color-swatch.none {
  background: gray;
}

.panel {
  /*flex-direction: column;*/
  /*background: rgba(0, 0, 0, 0.6);*/
  border-radius: 4px;
  /*color: white;*/
  padding: 8px;
  /*flex: 1;*/
}

.properties-palette {
  /*margin-right: 0px;*/
  flex-direction: column;
  /*position: fixed;*/
  /*padding: 8px;*/
  /*align-items: center;*/
  background-color: #f5f6f7;
  border-radius: 4px 0px 0px 4px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
}

.stroke-properties {
  flex-direction: column;
}

.pencil-options {
  /*position: fixed;
  left: 128px;
  width: 100px;
  height: 100px;*/
}

.panel-heading {
  /*display: flex;
  flex-direction: row;
  align-items: center;
  height: 2.5em;
  min-height: 2.5em;
  max-height: 2.5em;
  font-size: 1em;
  font-weight: bold;*/
}

.label {
  pointer-events: none;
  background: transparent;
}

.scroller {
  background: rgb(200, 200, 200);
  box-sizing: border-box;
  height: 6px;
}

.grabber {
  background: yellow;
  box-sizing: border-box;
}

.list {
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

.list-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 2em;
  min-height: 2em;
  margin-top: 1px;
  box-sizing: border-box;
  position: relative;
}

.list-item.selected {
  background-color: dodgerblue;
  color: white;
}

#main {
  box-sizing: border-box;
  min-height: 100vh;
  visibility: hidden;
}

.tray {
  /* box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.1); */
  /*box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.3);*/
  /* box-shadow: 2px 1px 8px 1px rgba(0, 0, 0, 0.2); */
  border-radius: 4px;
  padding: 8px;
}

.dark .tray {
  background: rgba(80, 80, 80, 1);
}

.light .tray {
  background: rgba(230, 232, 234, 1);
}

#tools {
  flex-direction: column;
  position: fixed;
  align-items: center;
  left: -8px;
  padding-left: 16px;
  /* width: 8em; */
  /* height: 50em; */
  /* height: 40em; */
  /* width: 10vh;
  height: 50vh;
  max-height: 400px;
  min-width: 24px;
  max-width: 64px; */
}

#tools-colors {
  display: flex;
  /* flex: auto; */
  flex-direction: row;
  flex-wrap: nowrap;
  /* border: 1px solid red; */
}

#paper {
  position: absolute;
  box-sizing: border-box;
  overflow: hidden;
  left: 0px;
  top: 0px;
}

#frame-list {
  position: fixed;
  box-sizing: border-box;
  overflow: hidden;
  top: 0px;
  width: 100%;
  /* width: 50vw; */
  /* left: calc(50vh - 40px); */
  /* background: rgba(240, 242, 244, 0.9); */
  /* border-bottom: 1px solid lightgray; */
}

.dark #frame-list {
  /* background: rgba(100, 100, 100, 0.5); */
  background: rgba(80, 82, 84, 0.5);
}

.light #frame-list {
  background: rgba(240, 242, 244, 0.5);
  /* background: rgba(232, 234, 236, 0.5); */
}

#frame-list-container {
  align-items: center;
  padding-top: 8px;
  padding-bottom: 8px;
}

.frame-list-item {
  flex-direction: column;
  margin-left: 8px;
  overflow: hidden;
  /*box-sizing: border-box;*/
  /*padding: 2px;*/
  /*border: 3px solid #a0a0a0;*/
  /* top | right | bottom | left */
  border-radius: 6px;
  border: 3px solid white;
  /*box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.1);*/
  background: white;
}

.frame-list-item.selected {
  border-color: dodgerblue;
}

.frame-list-item-number {
  position: absolute;
  /* top | right | bottom | left */
  padding: 4px 7px 7px 4px;
  border-radius: 0px 0px 4px 0px;
}

.frame-list-new {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 3px solid transparent;
  border-radius: 8px;
  margin-left: 8px;
  margin-right: 8px;
  /* opacity: 0.9; */
}

.dark .frame-list-new {
  background: rgba(80, 80, 80, 1);
}

.light .frame-list-new {
  background: rgba(160, 160, 160, 1);
}

.frame-list-new:hover {
  /* background: rgba(180, 180, 180, 1); */
  filter: brightness(150%);
  /* filter: contrast(150%); */
}

#controls {
  position: fixed;
  flex-direction: row;
  bottom: -8px;
  padding-bottom: 16px;
  align-items: center;
  justify-content: center;
}
