
html, body {
  font-family: sans-serif;
  font-size: 10px;
  color: rgb(32, 32, 32);
  padding: 0px;
  margin: 0px;
  overflow: hidden;
  -webkit-user-select: none;
  -ms-user-select:none;
  -moz-user-select: none;
  user-select: none;
  /*height: 100%;*/
  min-height: 100vh;
  /*background: green;*/
}

.ui {
  user-select: none;
  -webkit-user-select: none;
  cursor: default;
  /*background-color: rgb(240, 240, 240);*/
  /*background-color: #f5f6f7;*/
}

.icon {
  display: flex;
  align-items: center;
  pointer-events: none;
  background: transparent;
}

.icon.dark {
  /*fill: #5A5A5A;*/
  fill: #666666;
}

.icon.light {
  fill: #f0f0f0;
}

.container {
  display: flex;
}

.checkbox {
  align-items: center;
}

.checkbox-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 1.6em;
  height: 1.6em;
  border: 1px solid gray;
  border-radius: 2px;
  box-sizing: border-box;
  background: lightgray;
}

.checkbox.selected {
  background: white;
}

.spacer {
  pointer-events: none;
}

.divider {
  background-color: rgba(0, 0, 0, 0.2);
  margin: 8px;
  /*width: 8px;*/
  /*height: 8px;*/
}

.divider.horizontal {
  width: 60%;
  height: 1px;
  min-height: 1px;
}

.divider.vertical {
  width: 1px;
  min-width: 1px;
  height: 60%;
}

.button {
  display: flex;
  flex-direction: row;
  border-radius: 3px;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0);
}

.button.hover {
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.button.selected {
  background: rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.tool-button {
  display: flex;
  flex-direction: row;
  border-radius: 3px;
  /*box-sizing: border-box;*/
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0);
}

.tool-button.hover {
  border: 1px solid rgb(192, 192, 192);
}

.tool-button.selected {
  background: rgba(0, 0, 0, 0.1);
  border: 1px solid rgb(192, 192, 192);
}

.color-swatch {
  /*background: black;*/
  border: 1px solid #808080;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
}

.panel {
  /*flex-direction: column;*/
  /*background: rgba(0, 0, 0, 0.6);*/
  border-radius: 4px;
  /*color: white;*/
  padding: 8px;
  /*flex: 1;*/
}

.properties-palette {
  /*margin-right: 0px;*/
  flex-direction: column;
  /*position: fixed;*/
  /*padding: 8px;*/
  /*align-items: center;*/
  background-color: #f5f6f7;
  border-radius: 4px 0px 0px 4px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
}

.stroke-properties {
  flex-direction: column;
}

.pencil-options {
  /*position: fixed;*/
  /*left: 128px;*/
  /*width: 100px;*/
  /*height: 100px;*/
}

.panel-heading {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 2.5em;
  min-height: 2.5em;
  max-height: 2.5em;
  font-size: 1em;
  font-weight: bold;
}

.label {
  pointer-events: none;
  background: transparent;
}

.scroller {
  background: rgb(200,200,200);
  box-sizing: border-box;
  height: 6px;
  /*border: 1px solid black;*/
}

.grabber {
  background: yellow;
  box-sizing: border-box;
}

.list {
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

.list-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 2em;
  min-height: 2em;
  margin-top: 1px;
  box-sizing: border-box;
  position: relative;
}

.list-item.selected {
  background-color: dodgerblue;
  color: white;
}

#main {
  box-sizing: border-box;
  min-height: 100vh;
  /*border: 1px solid yellow;*/
}

.top {
  display: flex;
  position: fixed;
  /*flex-direction: column;*/
  /*align-items: center;*/
  /*justify-content: center;*/
  width: 100%;
  left: 0px;
  top: 0px;
  box-sizing: border-box;
  /*border: 1px solid lightgray;*/
}

.content {
  /*display: flex;
  flex: auto;
  height: 100%;*/
}

.bottom {
  /*display: flex;*/
  position: fixed;
  /*flex-direction: column;*/
  /*align-items: center;*/
  /*justify-content: center;*/
  width: 100%;
  left: 0px;
  bottom: 0px;
  box-sizing: border-box;
  padding-left: 64px;
  padding-right: 64px;
  /*border: 1px solid lightgray;*/
}

.left {
  display: flex;
  position: fixed;
  flex-direction: column;
  /*align-items: center;*/
  /*justify-content: center;*/
  height: 100%;
  left: 0px;
  top: 0px;
  box-sizing: border-box;
  /*border: 1px solid lightgray;*/
}

.right {
  display: flex;
  position: fixed;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  right: 0px;
  top: 0px;
  box-sizing: border-box;
  /*border: 1px solid black;*/
}

.tools-palette {
  flex-direction: column;
  position: fixed;
  padding: 8px;
  align-items: center;

  background-color: #f5f6f7;
  border-radius: 0px 3px 3px 0px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
  /*border: 1px solid black;*/
}

.workspace {
  /*flex-direction: column;
  flex: auto;
  box-sizing: border-box;
  overflow: hidden;*/
}

.properties {
  /*display: flex;
  flex-direction: column;
  width: 256px;
  min-width: 256px;
  border-left: 1px solid lightgray;*/
}

.status {
  /*flex-direction: row;
  position: absolute;
  align-items: center;
  bottom: 0px;
  width: 100%;
  padding-left: 8px;
  padding-right: 8px;
  box-sizing: border-box;
  cursor: default;
  border-top: 1px solid lightgray;*/
}

.options {
  flex: 1;
  border-bottom: 1px solid lightgray;
}

.paper {
  position: absolute;
  box-sizing: border-box;
  overflow: hidden;
}

.frames {
  /*position: fixed;*/
  /*margin-bottom: 32px;*/
  /*background: gray;*/
  flex-direction: column;
  /*overflow: hidden;*/
  /*padding: 6px;*/
  /*margin: 4px;*/
  /*border-radius: 0px 0px 4px 4px;*/
  /*pointer-events: none;*/
  background: #f5f6f7;
  /*background: blue;*/
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
  width: 100%;
  padding: 8px;
}

.frames-inner {
  flex-direction: row;
  /*flex: auto;*/
  overflow: hidden;
  /*pointer-events: none;*/
  /*box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);*/
  /*width: 100%;*/
  position: relative;
  border: 1px solid green;
}

#frame-list {
  position: fixed;
  box-sizing: border-box;
  overflow: hidden;
  /*border: 1px solid red;*/
  background: rgba(0, 0, 0, 0.25);
  bottom: 16px;
  width: 100%;
}

.frame-list-item {
  font-size: 9px;
  flex-direction: column;
  /*pointer-events: none;*/
  border: 3px solid gray;
  /*margin-left: 4px;*/
  /*margin-right: 4px;*/
  margin: 4px;
  /*border: 3px solid rgba(0,0,0,0);*/
  /*border-radius: 3px;*/
  /*box-sizing: border-box;*/
  /*border-top: 8px solid lightgray;*/
  /*overflow: hidden;*/
  /*border-right: 1px solid lightgray;*/
  /*background: green;*/
}

.frame-list-item.selected {
  /*border-top: 8px solid dodgerblue;*/
  /*box-sizing: border-box;*/
  /*border: 3px solid dodgerblue;*/
}

.frame-list-new {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /*border-radius: 0px 4px 0px 0px;*/
  background: #666666;
  width: 36px;
  /*height: 100%;*/
}

.frames-buttons {
  /*bottom: 0px;*/
  /*position: fixed;*/
  flex-direction: row;
  /*box-sizing: border-box;*/
  cursor: default;
  align-items: center;
  justify-content: center;
  /*border-radius: 0px 0px 4px 4px;*/
  /*background: lightgray;*/
  /*padding: 8px;*/
  /*background-color: #f5f6f7;*/
  /*box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);*/
  /*width: 400px;*/
}
