@background-color: #606060;
@pressed-color: #404040;
@border-color: #404040;
@shade-color: #404040;
@text-color: #cacaca;
@frame-text-color: #404040;
@selected-color: dodgerblue;
@workspace-color: #808080;
@input-text-color: #cacaca;
@gutter-color: #202020;

@tray-background-color: rgba(0, 0, 0, 0.9);
@tray-button-color: rgba(0, 0, 0, 0.5);

@icon-color: rgba(192, 192, 192, 1);

@menu-text-color: rgb(64, 64, 64);
@menu-background-color: rgba(255, 255, 255, 0.8);

@standard-font-face: 'Fira', sans-serif;

@import "theme.less";
