
html, body {
  user-select: none;
  -webkit-user-select: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
  min-height: 100vh;
  font-family: sans-serif;
  color: @text-color;
  background: white;
}

.ui {
  user-select: none;
  -webkit-user-select: none;
}

label {
  font-size: 1.2em;
}

input[type=text] {
  margin: 0;
  padding: 0;
  margin: .1em .2em 0 .2em;
  padding: 0 .2em 0 .2em;
  outline: none;
  border-width: 0 0 .1em 0;
  border-style: solid;
  background: transparent;
  border-color: @border-color;
  color: @input-text-color;
  font-size: inherit;
  font-family: inherit;

  &:enabled {
  }

  &:disabled {
  }
}

input[type=text]:focus {
  text-align: left;
}

.checkbox {
  background: @background-color;
  border: .1em solid @border-color;
  border-radius: .3em;
  width: 1em;
  min-width: 1em;
  height: 1em;
  min-height: 1em;
}

.svg-icon {
  width: 100%;
  height: 100%;
  fill: inherit;
  // pointer-events: none;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  fill: inherit;
}

.icon.invert {
  filter: invert(100%);
}

.container {
  display: flex;
}

.divider {
  background: @shade-color;
}

.divider.horizontal {
  width: 100%;
  height: .1em;
  min-height: .1em;
  margin-top: .8em;
  margin-bottom: .8em;
}

.divider.vertical {
  width: .1em;
  min-width: .1em;
  height: 2.4em;
  margin-left: .8em;
  margin-right: .8em;
}

button {
  font-size: 1em;
  font-family: inherit;
  -webkit-appearance: none;
  border: .1em solid transparent;
  box-sizing: content-box;
  padding: .6em;
  margin: .1em;
  width: 2.4em;
  height: 2.4em;
  outline: none;
  background: transparent;
  border-radius: .3em;
  color: @text-color;

  &:hover {
    border: .1em solid @shade-color;
  }

  &:active {
    background: darken(@shade-color, 10%);
    border: .1em solid transparent;
  }

  &.tool {
    padding-left: 1.2em;
    padding-right: 1.2em;
    width: 3.2em;
    height: 3.2em;
  }

  &.pressed {
    background: @shade-color;
    // border-top-color: darken(@shade-color, 10%);
    // border-left-color: darken(@shade-color, 10%);
  }

  &.text {
    border: .1em solid @shade-color;
  }
}

.tool-button {
  width: 3.2em;
  height: 3.2em;
  padding: 1.2em;
  border-radius: 4.2em;
  fill: @icon-color;
  background-color: @tray-button-color;
  transition: background-color .2s;

  &.pressed {
    fill: @selected-color;
  }

  &:hover {
    background-color: lighten(@tray-button-color, 10%);
    // fill: lighten(@icon-color, 20%);
  }
}

.tray {
  z-index: 5;
}

.tray-button {
  fill: @icon-color;
  margin: .2em;
  &.pressed {
    fill: @selected-color;
  }
  &.small {
  }
  &.standard {
  }
  &:hover {
  }
}

.tray-button-background {
  fill: @tray-button-color;
  transition: fill .2s;
  &:hover {
    fill: lighten(@tray-button-color, 10%);
  }
}

.list {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

.overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 200;
}

.color-wheel {
  position: absolute;
  padding: .2em;
  align-items: center;
  justify-content: center;
  border-radius: 1em 16em 16em 16em;
  background-color: rgba(32, 32, 32, 0.8);
  // background-color: rgba(255, 255, 255, 0.8);

}

.color-palette {
  display: grid;
  // grid-gap: .1em;
  grid-template-columns: repeat(5, 1fr);
  position: absolute;
  left: 0;
  top: 0;
  background: @menu-background-color;
  box-shadow: .2em .3em 1.6em rgba(0, 0, 0, 0.4);
}

.color-palette-swatch {
  width: 3em;
  height: 3em;
  min-width: 3em;
  min-height: 3em;
  // border: .1em solid white;
  // border-radius: .2em;
  // margin: .1em;
}

// .color-palette {
//   position: relative;
//   overflow: hidden;
// }
//
// .color-palette-marker {
//   position: absolute;
//   border-radius: 1em;
//   top: 0;
//   left: 0;
//   border: 1px solid gray;
//   box-sizing: border-box;
//   background: white;
//   pointer-events: none;
// }
//
// .color-palette-null {
//   width: 3em;
//   height: 3em;
//   fill: @text-color;
//   box-sizing: border-box;
//   padding: 1px;
// }
//
// .color-palette-item {
//   width: 3em;
//   height: 3em;
// }

#main {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  min-height: 100vh;
  // visibility: hidden;
}

#content {
  flex: auto;
}

// .t {
//   display: flex;
//   flex-direction: column;
//   position: absolute;
//   align-items: center;
//   z-index: 50;
//   overflow: hidden;
//
//   &:focus {
//     background: red;
//   }
//   background: @background-color;
//   box-shadow: .1em .2em .4em 0 rgba(0, 0, 0, 0.4);
//   border-radius: .6em;
// }
//
// .t-container {
//   display: flex;
//   flex-direction: column;
//   padding: 1em;
//   // background: @tray-background-color;
// }
//
// .t-title {
//   padding: 8px;
//   width: 100%;
//   box-sizing: border-box;
//   background-color: @shade-color;
// }
//
// .t-tag {
//   width: 1.6em;
//   height: 1.6em;
//   clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
//   background: @background-color;
// }

.panel {
  border-radius: .4em;
  padding: .8em;
  box-sizing: border-box;
  transition: opacity 0.2s;
  z-index: 4;
  background: @background-color;
}

// #tools {
//   display: flex;
//   flex-direction: column;
//   position: fixed;
//   align-items: center;
//   left: -.8em;
//   padding-left: 1.6em;
// }
//
// #tools-colors {
//   display: flex;
//   flex-direction: row;
//   flex-wrap: nowrap;
// }

#paper {
  position: absolute;
  box-sizing: border-box;
  overflow: hidden;
  left: 0;
  top: 0;
  z-index: 1;
  & > canvas {
    pointer-events: none;
    background: @workspace-color;
  }
}

#frame-list-tray {
  display: flex;
  position: fixed;
  bottom: 1em;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 7em;
  box-sizing: border-box;
}

#frame-list {
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  z-index: 5;
}

#frame-list-container {
  display: flex;
  position: relative;
  flex-direction: row;
}

.frame-list-item {
  flex-direction: column;
  &.selected {
    border-top-color: @selected-color;
  }
}

.frame-list-item-number {
  position: absolute;
  pointer-events: none;
  padding: .6em;
  box-sizing: border-box;
  border-top: .4em solid transparent;
  &.selected {
    border-color: @selected-color;
  }
  color: @frame-text-color;
}

#frame-list-new {
  align-items: center;
  justify-content: center;
  padding: 0 2em 0 2em;
  // height: 7em;
  height: 100%;
  background:  @tray-button-color;
  transition: background-color 0.2s;
  fill: @background-color;
  &:hover {
    background-color: lighten(@tray-button-color, 5%);
  }
}

#frame-list-spacer {
  display: flex;
  align-items: center;
  flex: auto;
  height: 100%;
  // background: rgba(0, 0, 0, 0.2);
  background: fadeout(@tray-button-color, 20%);
}

.frame-list-butt {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.2em;
  min-width: 3.2em;
  height: 100%;
  background: @tray-button-color;
}

#frame-list-first {
  border-radius: 1em 0 0 1em;
}

#frame-list-last {
  border-radius: 0 1em 1em 0;
}

#frame-list-map {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: .8em;
  z-index: 5;
  background: @gutter-color;
}

.frame-list-map-nodule {
  position: relative;
  height: 100%;
  top: 0;
  background: @background-color;
}

// #colors {
//   position: fixed;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   padding-right: 1.6em;
//   right: -.8em;
// }

.color-swatch {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: .2em;
}

.color-swatch-background {
  fill: @tray-button-color;
}

.color-swatch-foreground {
  fill: lighten(@tray-button-color, 20%);
}

// .color-swatch-layer {
//   position: absolute;
//   width: 4em;
//   height: 4em;
//   fill: transparent;
//   pointer-events: none;
// }

// #controls {
//   position: fixed;
//   display: flex;
//   flex-direction: row;
//   align-items: center;
//   justify-content: center;
//   padding-bottom: 1.6em;
//   bottom: 0;
// }
//
// #settings {
//   position: fixed;
//   display: flex;
//   flex-direction: row;
//   top: -.8em;
//   padding-top: 1.6em;
//   align-items: center;
//   justify-content: center;
// }
//
// #modal {
//   position: absolute;
//   left: 0;
//   top: 0;
//   width: 100%;
//   height: 100%;
//   visibility: hidden;
//   z-index: 99;
// }
//
#history {
  flex-direction: column;
  overflow: hidden;
  z-index: 500;
  background: @tray-background-color;
  position: fixed;
  right: 0;
  bottom: 0;
  width: 20em;
  height: 28em;
  pointer-events: none;
}

.spacer {
  width: .4em;
  height: .4em;
  min-width: .4em;
  min-height: .4em;
  &.double {
    width: .8em;
    height: .8em;
    min-width: .8em;
    min-height: .8em;
  }
}

.menu {
  flex-direction: column;
  position: absolute;
  padding: 1em;
  z-index: 10;
  border-radius: .4em;
  color: @menu-text-color;
  background: @menu-background-color;

  box-shadow: .2em .3em 1.6em rgba(0, 0, 0, 0.4);
}

.menu-item {
  align-items: center;
  justify-content: center;
  padding: 0 .8em 0 .8em;
  height: 4em;
  min-height: 4em;
  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
  fill: darken(@menu-text-color, 20%);
  white-space: nowrap;
}

.menu-separator {
  width: 100%;
  height: .1em;
  background: darken(@menu-text-color, 50%);
}

.menu-item-title {
  flex: auto;
  margin: 0 1em 0 1em;
}

.menu-item-shortcut {
  color: darken(@text-color, 20%);
}

.menu-item-icon {
  width: 1.6em;
  height: 1.6em;
  min-width: 1.6em;
  min-height: 1.6em;
}

.cartouche {
  display: flex;
  align-items: center;
  // justify-content: center;
  padding: .9em;
  // border: 1px solid red;
}

#tools-tray {
  display: flex;
  // align-items: center;
  flex-direction: column;
  position: fixed;
  left: 0em;
  top: 0em;
}

#tools-tray-tool {
}

#tools-rollout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  // align-items: center;
}

#colors-tray {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 12.8em;
}

#controls-tray {
  display: flex;
  position: fixed;
}

#settings-tray {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0em;
  right: 0em;
}

#playback-options-tray {
  position: fixed;
  right: 2em;
  bottom: 8em;
}
